altgraph==0.17
asgiref==3.4.1
astroid==2.8.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click
colorama==0.4.4
crypto==1.4.1
cryptography==3.4.8
Django==3.2.7
django-shortcuts==1.6
django-urls==1.1.3
Flask==2.0.1
Flask-MySQL==1.5.2
future==0.18.2
gunicorn==20.1.0
idna==3.2
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
mysql-connector==2.2.9
Naked==0.1.31
numpy==1.21.0
onetimepad==1.4
pefile==2021.5.24
platformdirs==2.3.0
pyasn1==0.4.8
pycparser==2.20
pyDes==2.0.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.2
pylint==2.11.1
PyMySQL==1.0.2
pyperclip==1.8.2
python-dateutil==2.8.1
pytz==2021.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.26.0
rsa==4.7.2
shellescape==3.8.1
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.6
Werkzeug==2.0.1
whitenoise==5.3.0
wrapt==1.12.1
